{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/logo.jpg" "title" "Attend a Meeting") }}

<div data-ux="FeaturedText" alignment="center" data-aid="CONTENT_WELCOME_DESCRIPTION_RENDERED" data-typography="BodyAlpha" class="x-el c1-1 c1-2 c1-1s c1-1t c1-4x c1-26 c1-t c1-6u c1-6v c1-6w c1-6x c1-6y c1-6z c1-70 c1-71 c1-72 c1-73 c1-74 c1-75 c1-76 c1-77 c1-78 c1-79 c1-7a c1-7b c1-7c c1-7d c1-7e c1-7f c1-7g c1-7h c1-7i c1-7j c1-7k c1-7l c1-68 c1-b c1-4s c1-c c1-2k c1-7m c1-7n c1-7o c1-d c1-e c1-f c1-g x-rt"><p style="margin:0"><span>&nbsp;</span></p><p style="margin:0"><span>We meet every Wednesday at 8 AM.<br>
You can attend in person at Tech Alpharetta •<br>
2972 Webb Bridge Road,<br>
Alpharetta, GA 30009</span></p><p style="margin:0"><span><strong class="x-el x-el-span c1-1p c1-1q c1-b c1-7p c1-4d c1-5z c1-7q">OR</strong>&nbsp;</span></p></div>

<div data-ux="Block" class="x-el x-el-div c1-1 c1-2 c1-b c1-c c1-d c1-e c1-f c1-g"><a data-ux-btn="secondary" data-ux="ButtonSecondary" shape="SQUARE" color="PRIMARY" fill="SOLID" decoration="NONE" shadow="NONE" data-aid="CONTENT_CTA_BTN_RENDERED" href="/attend-a-meeting" target="" data-tccl="ux2.CONTENT.content4.Featured.Default.Button.Secondary.38933.click,click" data-page="5cf799b8-f77a-4cf1-9bc5-8325c149a252" data-typography="ButtonAlpha" class="x-el x-el-a c1-3r c1-3s c1-7t c1-1v c1-7u c1-7v c1-1b c1-1f c1-1g c1-1r c1-1t c1-1s c1-s c1-z c1-4 c1-29 c1-2a c1-7w c1-4c c1-7x c1-4h c1-7y c1-7z c1-b c1-5z c1-80 c1-81 c1-82 c1-83 c1-84 c1-85 c1-86 c1-87 c1-88">Attend meeting using this zoom link</a></div>

{{end}}
