{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}
  
  <div class="flex-m mhn3-m mb4">

  <div class="ph3-m w-50-m">
    <img src="/img/sponsors.png" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">Reinvest profits</h3>
    <p>Tech Alpharetta, the first organization of its kind in Georgia, was established in 2012 by the City of Alpharetta, GA.
      Comprised of Alpharetta’s leading technology companies, both large and small, the members are charged with identifying and pursuing key investment opportunities and policy decisions for Alpharetta’s 
      technology companies and its burgeoning technology industry. The City of Alpharetta is home to nearly 600 technology companies, 
      making up 35% of Where Georgia Leads technology companies. The city also houses over a quarter of Metro Atlanta’s top 25 technology employers, 
      resulting in the city’s daytime working population exceeding that of residents. With one the most robust and redundant fibre 
      and power fibre infrastructure networks in the south-east, Alpharetta has been a central hub for new and relocating technology companies. 
      To continue to foster this growth, the ATC’s mission has created four subcommittees to add value beyond geography. <br\> GROW – Designed to support entrepreneurship, innovation, and start-up tech. 
      <br\>BUILD – Focused on identifying and developing advanced infrastructure that will support the technologies of tomorrow.
       <br\>BRAND – Creating new messaging that will help to attract new business investment and maintain Alpharetta’s position as a leading location for technology ventures
       <br\>ENGAGE – Enhancing relationships among Alpharetta’s technology companies and building understanding of the business in which they are engaged.</p>
<ul>
  <li><strong class="x-el x-el-span c1-1p c1-1q c1-b c1-83 c1-4d c1-5z c1-84">GROW</strong> – Designed to support entrepreneurship, innovation, and start-up tech.</li>
  <li><strong class="x-el x-el-span c1-1p c1-1q c1-b c1-83 c1-4d c1-5z c1-84">BUILD</strong> – Focused on identifying and developing advanced infrastructure that will support the technologies of tomorrow.</li>
  <li><strong class="x-el x-el-span c1-1p c1-1q c1-b c1-83 c1-4d c1-5z c1-84">BRAND</strong> – Creating new messaging that will help to attract new business investment and maintain Alpharetta’s position as a leading location for technology ventures</li>
  <li><strong class="x-el x-el-span c1-1p c1-1q c1-b c1-83 c1-4d c1-5z c1-84">ENGAGE</strong> – Enhancing relationships among Alpharetta’s technology companies and building understanding of the business in which they are engaged.</li>
</ul>
  </div>

</div>

{{ end }}
