{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}
  
  <h3 class="f3 b lh-title mb1">Reinvest profits</h3>
  <p>Tech Alpharetta, the first organization of its kind in Georgia, was established in 2012 by the City of Alpharetta, GA. Comprised of Alpharetta’s leading technology companies, both large and small, the members are charged with identifying and pursuing key investment opportunities and policy decisions for Alpharetta’s technology companies and its burgeoning technology industry.</p>

</div>

{{ end }}
